*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    padding: 0;
}

body {
    font-family: 'Nunito', sans-serif;
    color: #333;
    font-weight: 300;
    line-height: 1.6;
    margin-top: -20px;
    margin-bottom: -20px;
    background-repeat: no-repeat;
    background-size: cover;
}

button {
    background-color: gray !important;
    border: 4px solid white;
    padding: 10px;
    border-radius: 3px;
}

button:hover {
    background-color: darkslategray !important;
    border: 4px solid gray;
    padding: 10px;
    border-radius: 3px;
}

.container {
    width: 40%;
    margin: 2rem auto;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 5vw);
    grid-gap: 1.5rem;
    padding-top: 20px;
}